.wrapper {
  color: white;
  background: var(--f1-color-gray500);
  border-radius: 8px;
  padding: 16px;
  width: 100%;
  border-collapse: collapse;
}

.tableHeader {
  border-bottom: 1px solid #d1d5db;
  padding: 16px;
}

.headerColumn {
  text-align: start;
  padding: 16px;
}

.tableRow {
  padding: 16px;
}

.tableColumn {
  padding: 16px;
}
